---
import Section from "../Section.astro";
import Subtitle from "../Subtitle.astro";
import CertificationsList from "./CertificationsList.astro";
---

<Section>
  <Subtitle id="certifications" icon="graduation-cap">
    Certifications
  </Subtitle>
  <CertificationsList />
</Section>
