---
import DownloadIcon from "@/assets/icons/download.svg";
import { navBarItems } from "@/layouts/data/NavBarItems";
---

<header class="z-10 fixed px-4 w-full" role="banner">
  <nav
    class="flex bg-slate-800/0 mx-auto my-8 md:my-12 px-6 py-4 border-slate-700/0 border-t rounded-full max-w-4xl font-semibold text-slate-400 transition-all duration-300 navbar container"
    role="navigation"
  >
    <div class="flex justify-center md:justify-between w-full">
      <a
        class="hidden invisible md:block opacity-0 rounded-full hover:text-sky-300 focusable-item navbar-edge"
        href="#home">Diego Rascón</a
      >
      <ol
        class="flex gap-8 md:gap-16 text-sm md:text-base transition-all duration-300 navbar-link navbar-sections"
      >
        {
          navBarItems.map(({ id, label }) => (
            <li>
              <a class="hover:text-sky-300 focusable-item" href={`#${id}`}>
                {label}
              </a>
            </li>
          ))
        }
      </ol>
      <a
        href="/documents/resume.pdf"
        download="diego_rascon_resume.pdf"
        class="hidden invisible md:flex gap-2 opacity-0 rounded-full hover:text-sky-300 navbar-edge focusable-item"
      >
        <DownloadIcon class="h-5" />
        <span>Resume</span>
      </a>
    </div>
  </nav>
</header>

<style>
  @reference "../../../styles/global.css";

  @container page scroll-state(scrollable: top) {
    .navbar {
      @apply my-4 bg-slate-800/80 border-slate-700 shadow-lg text-slate-300 backdrop-blur;
    }

    .navbar-sections {
      @apply gap-4 md:gap-8;
    }

    .navbar-edge {
      @apply visible opacity-100;
    }

    .navbar-link {
      scroll-target-group: auto;
    }

    .navbar-link a:target-current {
      @apply pb-1 border-b-2 text-sky-300;
    }
  }
</style>
