---
import { Section, Subtitle } from "@/components/index";
import BriefcaseIcon from "@/features/experience/assets/icons/briefcase.svg";
import ExperienceList from "@/features/experience/components/ExperienceList.astro";
---

<Section id="experience">
  <Subtitle Icon={BriefcaseIcon}>Experience</Subtitle>
  <ExperienceList />
</Section>
