---
import { Subtitle, Section } from "@/components/index";
import { ExperienceList } from "@/features/experience/index";
---

<Section>
  <Subtitle id="experience" icon="briefcase">Experience</Subtitle>
  <ExperienceList />
</Section>
