---
import { Section, Subtitle } from "@/components/index";
import ExperienceList from "@/features/experience/components/ExperienceList.astro";
---

<Section>
  <Subtitle id="experience" icon="briefcase">Experience</Subtitle>
  <ExperienceList />
</Section>
