---
import { Section, Subtitle } from "@/components/index";
import GraduationCapIcon from "@/features/certifications/assets/icons/graduation-cap.svg";
import CertificationsList from "@/features/certifications/components/CertificationsList.astro";
---

<Section id="certifications">
  <Subtitle Icon={GraduationCapIcon}> Certifications </Subtitle>
  <CertificationsList />
</Section>
