---
import { Section, Subtitle } from "@/components/index";
import CertificationsList from "@/features/certifications/components/CertificationsList.astro";
---

<Section>
  <Subtitle id="certifications" icon="graduation-cap">
    Certifications
  </Subtitle>
  <CertificationsList />
</Section>
