---
import type { Technology } from "../../types/Skill";
import { Icon } from "astro-icon/components";

interface Props {
  technologies: Technology[];
}

const { technologies } = Astro.props;
---

<ul
  class="flex flex-wrap justify-evenly items-center gap-4 w-full transition-all"
>
  {
    technologies.map(({ name, icon }) => (
      <li class="flex flex-col flex-1 justify-center items-center gap-4">
        <Icon name={icon} class="size-8 md:size-10" />
        <p class="font-light text-slate-400 text-sm md:text-base text-center truncate">
          {name}
        </p>
      </li>
    ))
  }
</ul>
