---
import Section from "../Section.astro";
import Subtitle from "../Subtitle.astro";
import ExperienceList from "./ExperienceList.astro";
---

<Section>
  <Subtitle id="experience" icon="briefcase">Experience</Subtitle>
  <ExperienceList />
</Section>
