---
import {
  CertificationsSection,
  ExperienceSection,
  HeroSection,
  ProjectsSection,
  SkillsSection,
} from "@/features/index";
import { AppLayout, Footer, NavBar } from "@/layouts/index";
---

<AppLayout>
  <NavBar client:load />
  <main role="main">
    <HeroSection />
    <ExperienceSection />
    <!-- <ProjectsSection /> -->
    <SkillsSection />
    <CertificationsSection />
  </main>
  <Footer />
</AppLayout>
