---
import { Footer, NavBar, AppLayout } from "@/layouts/index";
import {
  CertificationsSection,
  ExperienceSection,
  HeroSection,
  SkillsSection,
} from "@/features/index";
---

<AppLayout>
  <NavBar client:load />
  <main role="main">
    <HeroSection />
    <ExperienceSection />
    <SkillsSection />
    <CertificationsSection />
  </main>
  <Footer />
</AppLayout>
