---
import { TechnologiesList, type Technology } from "@/features/skills/index";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  icon: string;
  technologies: Technology[];
  className?: string;
}

const { title, icon, technologies, className } = Astro.props;
---

<div
  class=`group flex flex-col items-center justify-center bg-slate-800/40 p-4 py-8 hover:bg-slate-800/60 shadow hover:shadow-md backdrop-blur-xs border-slate-800 hover:border-slate-700 border-t rounded-2xl transition-all ${className}`
>
  <div
    class="flex items-center gap-3 mb-8 text-slate-300 group-hover:text-sky-300"
  >
    <Icon class="size-5" name={icon} />
    <h3 class="font-semibold text-lg">{title}</h3>
  </div>
  <TechnologiesList technologies={technologies} />
</div>
