---
import { Section, Subtitle } from "@/components/index";
import { backendList } from "@/features/skills/data/backendList";
import { frontendList } from "@/features/skills/data/frontendList";
import { languagesList } from "@/features/skills/data/languagesList";
import { toolsList } from "@/features/skills/data/toolsList";
import SkillCategoryContainer from "@/features/skills/components/SkillCategoryContainer.astro";
---

<Section>
  <Subtitle id="skills" icon="brain"> Skills </Subtitle>
  <div class="gap-4 grid md:grid-cols-2 px-4">
    <SkillCategoryContainer
      className="md:col-span-2"
      title="Languages"
      icon="code"
      technologies={languagesList}
    />
    <SkillCategoryContainer
      title="Front-end"
      icon="layout"
      technologies={frontendList}
    />
    <SkillCategoryContainer
      title="Back-end"
      icon="server"
      technologies={backendList}
    />
    <SkillCategoryContainer
      className="md:col-span-2"
      title="Tools & Infrastructure"
      icon="infrastructure"
      technologies={toolsList}
    />
  </div>
</Section>;
