---
import Section from "@/components/Section.astro";
import DownloadIcon from "@/assets/icons/download.svg";
---

<Section>
  <div
    class="flex md:flex-row flex-col-reverse md:items-center gap-8 md:gap-16 mx-4 mt-24 md:mt-64 md:mb-32"
  >
    <div class="flex flex-col items-start">
      <h1 class="mb-8 font-bold text-slate-200 text-5xl scroll-mt-96" id="home">
        Diego Rascón
      </h1>
      <p class="mb-6 font-light text-slate-300 text-lg">
        Full-stack Engineer specialized in modern web and mobile development. I
        bridge the gap between elegant client-side experiences and
        high-performance server architectures.
      </p>
      <a
        href="/documents/resume.pdf"
        download="diego_rascon_resume.pdf"
        class="flex gap-4 bg-slate-800/40 hover:bg-slate-800/60 shadow hover:shadow-md backdrop-blur-xs px-6 py-4 border-slate-800 hover:border-slate-700 border-t rounded-2xl text-slate-300 hover:text-sky-300 transition-all focusable-item shrink"
      >
        <DownloadIcon class="h-5" />
        <span>Resume</span>
      </a>
    </div>
    <img
      fetchpriority="high"
      src="/images/profile-picture.webp"
      alt="Diego Rascón"
      class="self-center shadow-xl border-slate-400 border-t rounded-2xl size-48 md:size-72 object-cover"
    />
  </div>
</Section>
