---
import SocialLinks from "./SocialLinks.astro";
---

<footer
  class="flex justify-between items-end gap-4 mx-auto px-8 pt-4 pb-18 max-w-4xl container"
  role="contentinfo"
>
  <p class="flex-2 font-light text-slate-400 text-sm">
    Made with Astro and Svelte components. Hosted on Cloudflare.
  </p>
  <div class="flex-1">
    <SocialLinks />
  </div>
</footer>
